.shell {
    display: inline-block;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    background-color: lightblue;
    border-width: 0.2rem;
    border-style: outset;
    user-select: none;
}

.row {
    white-space: nowrap;
}

.shell-0 {
    border-style: inset;
}

.shell-1 {
    border-style: inset;
    background-image: url(Minesweeper_1.svg);
}

.shell-2 {
    border-style: inset;
    background-image: url(Minesweeper_2.svg);
}

.shell-3 {
    border-style: inset;
    background-image: url(Minesweeper_3.svg);
}

.shell-4 {
    border-style: inset;
    background-image: url(Minesweeper_4.svg);
}

.shell-5 {
    border-style: inset;
    background-image: url(Minesweeper_5.svg);
}

.shell-6 {
    border-style: inset;
    background-image: url(Minesweeper_6.svg);
}

.shell-7 {
    border-style: inset;
    background-image: url(Minesweeper_7.svg);
}

.shell-8 {
    border-style: inset;
    background-image: url(Minesweeper_8.svg);
}

.shell-9 {
    border-style: inset;
    background-image: url(Minesweeper_mine.png);
}

.shell-10 {
    background-image: url(Minesweeper_flag.svg);
}

.shell-11 {
    border-style: inset;
    background-image: url(Minesweeper_mine.png);
    background-color: red;
}

.shell-12 {
    background-image: url(Minesweeper_flag.svg);
    background-color: orange;
}

.top-row {
    display: grid; 
    grid-template-columns: 33% 1fr 33%;
    min-height: 2rem;
    width: calc(100vmin - 10rem);
}

.footer {
    display: grid; 
    grid-template-columns: 33% 1fr 33%; 
    min-height: 3.5rem;
    width: calc(100vmin - 10rem);
}

.footer-elt {
    margin: 1rem;
}

.elt-3 {
    grid-column: 3;
}

.timer {
    text-align: right
}

.result {
    text-align: center;
}