.shell {
    display: inline-block;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    border-width: 0.2rem;
    border-style: outset;
    user-select: none;
}

.shell-play {
    background-color: lightblue;
}

.shell-loose {
    background-color: lightgrey;
}

.shell-win {
    background-color: lightpink;
}

.row {
    white-space: nowrap;
}

.shell-0 {
    border-style: inset;
}

.shell-1 {
    border-style: inset;
    background-image: url(Minesweeper_1.svg);
}

.shell-2 {
    border-style: inset;
    background-image: url(Minesweeper_2.svg);
}

.shell-3 {
    border-style: inset;
    background-image: url(Minesweeper_3.svg);
}

.shell-4 {
    border-style: inset;
    background-image: url(Minesweeper_4.svg);
}

.shell-5 {
    border-style: inset;
    background-image: url(Minesweeper_5.svg);
}

.shell-6 {
    border-style: inset;
    background-image: url(Minesweeper_6.svg);
}

.shell-7 {
    border-style: inset;
    background-image: url(Minesweeper_7.svg);
}

.shell-8 {
    border-style: inset;
    background-image: url(Minesweeper_8.svg);
}

.shell-9 {
    border-style: inset;
    background-image: url(Minesweeper_mine.png);
}

.shell-10 {
    background-image: url(Minesweeper_flag.svg);
}

.shell-11 {
    border-style: inset;
    background-image: url(Minesweeper_mine.png);
    background-color: red;
}

.shell-12 {
    background-image: url(Minesweeper_flag.svg);
    background-color: orange;
}

.top-row {
    display: grid; 
    grid-template-columns: 33% 1fr 33%;
    min-height: 2rem;
    width: calc(100vmin - 10rem);
    padding-bottom: 0.1rem;
}

.footer {
    display: grid; 
    grid-template-columns: 33% 1fr 33%; 
    min-height: 3.5rem;
    width: calc(100vmin - 10rem);
}

.footer-elt {
    margin: 1rem;
}

.elt-3 {
    grid-column: 3;
}

.result {
    text-align: center;
}

.counter {
    white-space: nowrap;
}

.counter-digit {
    display: inline-block;
    width: 1rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    /* border-width: 0.2rem;
    border-style: inset; */
    user-select: none;
}

.counter-digit-0 {
    background-image: url(A_Num_0.svg);
}
.counter-digit-1 {
    background-image: url(A_Num_1.svg);
}
.counter-digit-2 {
    background-image: url(A_Num_2.svg);
}
.counter-digit-3 {
    background-image: url(A_Num_3.svg);
}
.counter-digit-4 {
    background-image: url(A_Num_4.svg);
}
.counter-digit-5 {
    background-image: url(A_Num_5.svg);
}
.counter-digit-6 {
    background-image: url(A_Num_6.svg);
}
.counter-digit-7 {
    background-image: url(A_Num_7.svg);
}
.counter-digit-8 {
    background-image: url(A_Num_8.svg);
}
.counter-digit-9 {
    background-image: url(A_Num_9.svg);
}

.action {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgray;
}

.action-play {
    background-image: url(play.svg);
}

.action-win {
    background-image: url(win.svg);
}


.action-loose {
    background-image: url(loose.svg);
}